/* --------------------------
Hercules Alpha
-------------------------- */

.wrapper-alpha{

  .header{

    .logo{
      padding-left: 15px;

      img{
        height: 55px;
      }
    }
  }

  .main{
    padding: 30px 0;
  }

  .sidebar{
    top: 120px;
    min-width: 340px;
    border-right: 1px solid $border-color;
    height: calc(100ch - 150px);

    &-nav{
      padding: 0 15px;
    }

    .nav{

      &-link{
        padding: 16px 20px;
        color: $night;

        &.active{
          background-color: transparentize($night, 0.96);
        }
      }

    }
  }

  .content{
    padding: 0 15px 30px;
    border-top-left-radius: 0;
    background-color: transparent;

    .row{
      margin: 0 -15px;
    }

    .actions-bar{
      margin-bottom: 45px;

      .btn{
        padding: 24px;

        &-action{
          position: relative;
          padding-left: 0;
          padding-right: 15px;

          &:last-child{
            padding-right: 0;
          }
        }

        > i{
          margin-right: 12px;
        }

        > div{

          > span{
            font-size: 1rem;
            color: transparentize($white, 0.3);
          }
        }
      }

      .badge{
        position: absolute;
        top: 15px;
        right: 28px;
      }
    }

    .section{

      &-title{
        border-bottom: 0;
        padding-bottom: 15px;
      }

      .list{

        &-group{

          &-item{
            padding: 30px;

            .avatar{
              margin-right: 15px;
            }
          }

          &-actions{
            margin: 25px 0;

            > div{
              padding: 0;

              &:first-child{
                padding-right: 15px;
              }
            }

            .btn{
              width: 100%;
            }
          }

          &-footer{
            padding-top: 15px;
            border-top: 1px dashed $border-color;
          }
        }

        &-subgroup{

          &-item{
            margin-bottom: 15px;

            &-title{

              i{
                margin-left: 4px;
                font-size: 0.75rem;
              }
            }
          }

        }
      }

      + .section{
        margin-top: 30px;
      }
    }
  }

  .card{
    padding: 30px;
  }

}