/* --------------------------
Auth
-------------------------- */

.auth{
  &-card{
    width: 50%;
    min-width: 944px;
    height: 480px;
    padding: 0;
    overflow: hidden;

    .card{
      height: 100%;
      padding-left: 3.75rem;
      padding-right: 3.75rem;
      @include border-radius(0);

      form{
        width: 100%;
      }
    }

    .lead{
      margin-bottom: 1.25rem;
    }

    h3{
      font-weight: 500;
    }
  }
}