/* --------------------------
Avatars
-------------------------- */

.avatar{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 1rem;

  &-img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border: 1px solid $border-color;
  }

  &-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &-dark{
    .avatar{
      &-img{
        border-color: transparentize($border-color, 0.7);
      }
    }
  }

  // Size
  &-sm{
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
  }
  &-smd{
    width: 65px;
    height: 65px;
    font-size: 1.5rem;
  }
  &-md{
    width: 80px;
    height: 80px;
    font-size: 1.75rem;
  }
  &-mlg{
    width: 100px;
    height: 100px;
    font-size: 1.75rem;
  }
  &-lg{
    width: 120px;
    height: 120px;
    font-size: 2rem;
  }

  //Color
  &-primary{
    .avatar-title{
      background-color: transparentize($primary, 0.9);
      color: $primary;
    }
  }
  &-secondary{
    .avatar-title{
      background-color: transparentize($secondary, 0.9);
      color: $secondary;
    }
  }
  &-success{
    .avatar-title{
      background-color: transparentize($success, 0.9);
      color: $success;
    }
  }
  &-danger{
    .avatar-title{
      background-color: transparentize($danger, 0.9);
      color: $danger;
    }
  }
  &-night{
    .avatar-title{
      background-color: transparentize($night, 0.9);
      color: $night;
    }
  }
  &-twilight{
    .avatar-title{
      background-color: transparentize($twilight, 0.9);
      color: $twilight;
    }
  }
  &-day{
    .avatar-title{
      background-color: transparentize($day, 0.9);
      color: $day;
    }
  }
}