/* --------------------------
Badges
-------------------------- */

.badge{
  padding: 5px 8px;
  font-size: 0.875rem;
  font-weight: 500;
  background: none;
  border: 1px solid;
  opacity: 1;
  @include border-radius(6px);

  + .badge{
    margin-left: 10px;
  }

  &-primary{
    border-color: $primary;
    color: $primary;
  }
  &-secondary{
    border-color: $secondary;
    color: $secondary;
  }
  &-success{
    border-color: $success;
    color: $success;
  }
  &-danger{
    border-color: $danger;
    color: $danger;
  }
  &-night{
    border-color: $night;
    color: $night;
  }
  &-twilight{
    border-color: $twilight;
    color: $twilight;
  }


  &-icon{
    display: flex;
    align-items: center;
    padding: 2px 7px;

    i{
      margin-left: 3px;
      font-size: 1.125rem;
    }
  }
}