/* --------------------------
Base
-------------------------- */

html, body, .wrapper {
  height: 100%;
}
body{
  height: 100%;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $night;
}
.wrapper{
  background: -webkit-linear-gradient(transparentize($dark, 0.62), transparentize($dark, 0.62)), url("../assets/bg.jpg");
  background: -moz-linear-gradient(transparentize($dark, 0.62), transparentize($dark, 0.62)), url("../assets/bg.jpg");
  background: -o-linear-gradient(transparentize($dark, 0.62), transparentize($dark, 0.62)), url("../assets/bg.jpg");
  background: linear-gradient(transparentize($dark, 0.62), transparentize($dark, 0.62)), url("../assets/bg.jpg");

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center center;

  &-inner{
    position: relative;
    padding-top: 90px;
    width: 100%;
    height: 100%;
  }
}
.container{
  max-width: 1290px;
}
.main{
  height: 100%;
}
.logo{
  display: block;
}

.nav-toggled{
  .sidebar{
    display: none;
  }
  .content{
    @include border-radius(0);
  }
  .header{
    //.logo{
    //  display: none;
    //}
    //&-left{
    //  padding-left: 20px;
    //}
  }
}

.timeline-toggled{
  overflow: hidden;
  .content{
    padding-right: 15px !important;    
  }
  .timeline{
    display: none;
    
    &-toggle{
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }
  }
}