/* --------------------------
Buttons
-------------------------- */

.btn{
  position: relative;
  padding: 14px 30px;
  font-weight: 500;
  color: $night;
  @include border-radius(9px);

  i{
    vertical-align: middle;
  }

  .badge{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    line-height: 30px;
    text-align: center;
    border: 4px solid $white;
    color: $white;
    @include border-radius(50%);
  }

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled).active:focus{
    color: $night-2;
    opacity: 0.8;
    box-shadow: none;
    border-color: transparent;
  }

  &.btn-flat{
    @include btn-hfa(null, 1, $white);
  }

  // Icon
  &-with-icon{
    i{
      position: relative;
      top: -1px;
      font-size: 22px;
    }
  }
  &-icon{
    position: relative;
    padding: 12px;
    border: none;
    @include border-radius(50%);

    i{
      display: block;
      font-size: 31px;
    }

    .badge{
      top: -10px;
      right: -10px;
    }

    &.btn-lg{
      padding: 15px;
    }
  }

  //Color

  &-primary{
    color: $white;
    background: $primary-gradient-to-left;
    border-color: transparent;
    .badge{
      background-color: $primary;
    }
    &.btn-flat{
      color: $primary;
      background: transparentize($primary, 0.85);
      .badge{
        color: $primary;
        background-color: $light-primary;
      }
    }
    @include btn-hfa($primary-gradient-to-left, 0.85, $white);
  }

  &-secondary{
    color: $white;
    background: $secondary-gradient-to-left;
    border-color: transparent;
    .badge{
      background-color: $secondary;
    }
    &.btn-flat{
      color: $secondary;
      background: transparentize($secondary, 0.85);
      .badge{
        color: $secondary;
        background-color: $light-secondary;
      }
    }
    @include btn-hfa($secondary-gradient-to-left, 0.85, $white);
    @include btn-hfa($secondary-gradient-to-left, 0.85, $white);
  }

  &-success{
    color: $white;
    background: $success-gradient-to-left;
    border-color: transparent;
    .badge{
      background-color: $success;
    }
    &.btn-flat{
      color: $success;
      background: transparentize($success, 0.85);
      .badge{
        color: $success;
        background-color: $light-success;
      }
    }
    @include btn-hfa($success-gradient-to-left, 0.85, $white);
  }

  &-danger{
    color: $white;
    background: $danger-gradient-to-left;
    border-color: transparent;
    .badge{
      background-color: $danger;
    }
    &.btn-flat{
      color: $danger;
      background: transparentize($danger, 0.85);
      .badge{
        color: $danger;
        background-color: $light-danger;
      }
    }
    @include btn-hfa($danger-gradient-to-left, 0.85, $white);
  }

  &-night{
    background: $night-gradient-to-left;
    border-color: transparent;
    color: $white;
    .badge{
      background-color: $night;
    }
    &.btn-flat{
      color: $night;
      background: transparentize($night, 0.85);
      .badge{
        color: $night;
        background-color: $light-night;
      }
    }
    @include btn-hfa($night-gradient-to-left, 0.85, $white);
  }

  &-default{
    background: $light-2;
    border-color: transparent;
    color: $twilight;
    .badge{
      background-color: $light-2;
    }
    @include btn-hfa($light-2, null, $twilight);
  }

  &-transparent{
    background: none;
    border: none;
    color: $white;
    i{
      display: block;
    }
    .badge{
      background-color: $white;
      border-color: $border-color-dark;
      color: $night;
    }
    &:hover{
      color: $white;
      opacity: 0.7;
    }
    &.btn-icon{
      &.btn-sm{
        .badge{
          right: 1px;
          top: 1px;
        }
      }
    }
  }

  // Flat

  // Outline
  &-outline-primary{
    color: $primary;
    border-color: $primary;
    @include btn-hfa($primary-gradient-to-left, 1);
    .badge{
      color: $primary;
      background-color: $light-primary;
    }
  }
  &-outline-secondary{
    color: $secondary;
    border-color: $secondary;
    @include btn-hfa($secondary-gradient-to-left, 1);
    .badge{
      color: $secondary;
      background-color: $light-secondary;
    }
  }
  &-outline-success{
    color: $success;
    border-color: $success;
    @include btn-hfa($success-gradient-to-left, 1);
    .badge{
      color: $success;
      background-color: $light-success;
    }
  }
  &-outline-danger{
    color: $danger;
    border-color: $danger;
    @include btn-hfa($danger-gradient-to-left, 1);
    .badge{
      color: $danger;
      background-color: $light-danger;
    }
  }
  &-outline-night{
    color: $night;
    border-color: $night;
    @include btn-hfa($night-gradient-to-left, 1);
    .badge{
      color: $night;
      background-color: $light-night;
    }
  }
  &-outline-default{
    color: $white;
    border-color: $white;
    @include btn-hfa($light, 1, $night);
    .badge{
      color: $night;
      background-color: $light-night;
    }
  }

  // Link
  &-link-primary{
    color: $primary;
    @include btn-hfa($primary-gradient-to-left, 1, $white);
    .badge{
      color: $primary;
      background-color: $light-primary;
    }
  }
  &-link-secondary{
    color: $secondary;
    @include btn-hfa($secondary-gradient-to-left, 1, $white);
    .badge{
      color: $secondary;
      background-color: $light-secondary;
    }
  }
  &-link-success{
    color: $success;
    @include btn-hfa($success-gradient-to-left, 1, $white);
    .badge{
      color: $success;
      background-color: $light-success;
    }
  }
  &-link-danger{
    color: $danger;
    @include btn-hfa($danger-gradient-to-left, 1, $white);
    .badge{
      color: $danger;
      background-color: $light-danger;
    }
  }
  &-link-night{
    color: $night;
    @include btn-hfa($night-gradient-to-left, 1, $white);
    .badge{
      color: $night;
      background-color: $light-night;
    }
  }


  //Size

  &-xl{
    padding: 24px 30px;
    font-size: 1.25rem;
    text-align: left;

    i{
      font-size: 35px;
    }

    &.btn-with-icon{
      i{
        font-size: 35px;
        margin-right: 14px;
      }
    }
  }

  &-lg{

    i{
      font-size: 31px;
    }

    &.btn-with-icon{
      i{
        font-size: 28px;
      }
    }
  }

  &-sm{
    padding: 10px 20px;
    font-size: 0.875rem;
    line-height: 20px;

    i{
      font-size: 20px;
    }

    .badge{
      top: -11px;
      right: -11px;
      width: 22px;
      height: 22px;
      border-width: 2px;
      font-size: 0.75rem;
    }

    &.btn-with-icon{
      i{
        top: -1px;
      }
    }

    &.btn-icon{
      padding: 7px;
      i{
        font-size: 28px;
      }
      .badge{
        top: -8px;
        right: -8px;
      }
    }
  }

  // Group
  &-group{

    padding: 15px 25px;
    @include border-radius(9px);

    .btn{
      padding: 0 0 0 23px;
      margin: 0;
      background: none;
      border: none;

      &:first-child{
        padding-left: 0;
      }

      @include btn-hfa(transparent);
    }

    //Icon
    &-with-icon{
      i{
        position: relative;
        top: -1px;
        font-size: 22px;
      }
    }
    &-icon{
      i{
        font-size: 22px;
      }
    }

    //Color

    &-primary{
      background: $primary-gradient-to-left;
      border-color: transparent;
      .badge{
        background-color: $primary;
      }
    }

    &-secondary{
      background: $secondary-gradient-to-left;
      border-color: transparent;
      .badge{
        background-color: $secondary;
      }
    }

    &-success{
      background: $success-gradient-to-left;
      border-color: transparent;
      .badge{
        background-color: $success;
      }
    }

    &-danger{
      background: $danger-gradient-to-left;
      border-color: transparent;
      .badge{
        background-color: $danger;
      }
    }

    &-night{
      background: $night-gradient-to-left;
      border-color: transparent;
      color: $white;
      .badge{
        background-color: $night;
      }
    }

    //Size
    &-lg{
      &.btn-group-with-icon,
      &.btn-group-icon{
        i{
          font-size: 28px;
        }
      }
    }
    &-sm{
      padding: 11px 15px;

      &.btn-group-with-icon,
      &.btn-group-icon{
        i{
          font-size: 20px;
        }
      }
    }
  }

  //Link
  &-dashed{
    border-bottom: 1px dashed;
    &-twilight{
      border-color: $twilight;
    }
    @include btn-hfa(transparent);
  }

}