/* --------------------------
Cards
-------------------------- */

.card{
  padding: 3.75rem 1.875rem;
  border: 0;
  @include border-radius(6px);

  &-border{
    border: 1px solid $border-color;
  }
}