/* --------------------------
Colors
-------------------------- */

// Named Colors

$primary: #FF9068;
$primary-2: #FD746C;
$light-primary: #FFEEE8;

$secondary: #5CA1FF;
$secondary-2: #6877EB;
$light-secondary: #E7F1FF;

$success: #4BCCAF;
$success-2: #35B986;
$light-success: #E5F9F5;

$danger: #FF6565;
$danger-2: #FF8365;
$light-danger: #FFE7E7;

$night: #5F677E;
$night-2: #4A5167;
$light-night: #EFEFF2;

$twilight: #9CA4BA;
$day: #DFE6ED;

$dark: #152631;
$dark-2: #313132;

$light: #F4F7FA;
$light-2: #F4F6F8;
$light-3: #FAFBFD;

// Gradient Colors
$primary-gradient-to-left: linear-gradient(to left, $primary, $primary-2);
$primary-gradient-to-right: linear-gradient(to right, $primary, $primary-2);
$primary-gradient-to-left-top: linear-gradient(to left top, $primary, $primary-2);
$secondary-gradient-to-left: linear-gradient(to left, $secondary, $secondary-2);
$secondary-gradient-to-right: linear-gradient(to right top, $secondary, $secondary-2);
$secondary-gradient-to-left-top: linear-gradient(to left top, $secondary, $secondary-2);
$success-gradient-to-left: linear-gradient(to left, $success, $success-2);
$success-gradient-to-right: linear-gradient(to right, $success, $success-2);
$success-gradient-to-left-top: linear-gradient(to left top, $success, $success-2);
$danger-gradient-to-left: linear-gradient(to left, $danger, $danger-2);
$danger-gradient-to-right: linear-gradient(to right, $danger, $danger-2);
$danger-gradient-to-left-top: linear-gradient(to left top, $danger, $danger-2);
$night-gradient-to-left: linear-gradient(to left, $night, $night-2);
$night-gradient-to-right: linear-gradient(to right, $night, $night-2);
$night-gradient-to-left-top: linear-gradient(to left top, $night, $night-2);

// Set up theme

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "danger": $danger,
);

// Elements
$border-color: $day;
$border-color-dark: $dark-2;

// Backgrounds
.bg-primary{
  background: $primary !important;
}
.bg-secondary{
  background: $secondary !important;
}
.bg-success{
  background: $success !important;
}
.bg-danger{
  background: $danger !important;
}
.bg-night{
  background: $night !important;
}
.bg-twilight{
  background: $twilight !important;
}
.bg-day{
  background: $day !important;
}
.bg-white{
  background: $white !important;
}
.bg-light-3{
  background: $light-3 !important;
}

// Gradients

.bg-gradient-primary{
  background: $primary-gradient-to-left-top !important;
}
.bg-gradient-secondary{
  background: $secondary-gradient-to-left-top !important;
}
.bg-gradient-success{
  background: $success-gradient-to-left-top !important;
}
.bg-gradient-danger{
  background: $danger-gradient-to-left-top !important;
}
.bg-gradient-night{
  background: $night-gradient-to-left-top !important;
}