/* --------------------------
Content
-------------------------- */

.content{
  position: relative;
  width: 100%;
  padding: 20px;
  background-color: $light;
  border-top-left-radius: 20px;
  @include transition(all 0.25s ease);

  .row{
    margin: 0 -10px;
  }
  .h-col{
    padding: 0 10px;
  }

  .actions-bar{
    margin-bottom: 30px;
    .btn{
      width: 100%;
      &-action{
      }
    }
  }

  .section{
    &-title{
      margin-bottom: 15px;
      padding-bottom: 10px;
      border-bottom: 1px solid $border-color;
    }

    &-news{
      .list-group{
        &-item{
          padding: 25px;
          a{
            display: block;
            margin-bottom: 5px;
          }
        }
      }
    }

    &-lockers{
      margin-top: -6px;
      .section{
        &-title{
          margin-bottom: 20px;
          padding-bottom: 0;
        }
        &-content{
          .tab{
            &-content{
              padding: 30px;
              background: $white;
              @include border-radius(6px);
            }
          }
          .card{
            background: none;
            border: none;
            @include border-radius(0);

            &-header{
              padding: 0;
              margin-bottom: 20px;
              background: none;
              border: none;
            }
            &-body{
              padding: 0;
              margin: -1%;
            }
            &-item{
              width: 10.5%;
              margin: 1%;
              padding: 15px 20px;
              font-size: 1.25rem;
              text-align: center;
              border: 1px solid $border-color;
              color: $twilight;
              @include border-radius(6px);

              &.active{
                border-color: transparent;
                color: $white;
              }

              &.disabled{
                border-style: dashed;
                color: transparentize($day, 0.2);
              }
            }

            &:first-child{
              border-right: 1px solid $border-color;
            }

            &-primary{
              .card-item{
                &.active{
                  background: $primary-gradient-to-left-top;
                }
              }
            }

            &-success{
              .card-item{
                &.active{
                  background: $success-gradient-to-left-top;
                }
              }
            }
          }
        }
      }
    }
  }
}