/* --------------------------
Forms
-------------------------- */

.dropdown{
  &-menu{
    width: 100%;
    padding: 0;
    border: none;
    overflow: hidden;
    @include border-radius(9px);
    -webkit-box-shadow: 0 5px 20px transparentize($night, 0.9);
    -moz-box-shadow: 0 5px 20px transparentize($night, 0.9);
    box-shadow: 0 5px 20px transparentize($night, 0.9);
  }
  &-item{
    height: 60px;
    padding: 10px 16px;
    font-weight: 500;
    line-height: 40px;
    background: transparent;
    color: $night;

    .avatar{
      margin-right: 16px;
    }

    &:hover,
    &:focus,
    &:active{
      color: $night;
      background: transparentize($day, 0.7);
    }

    &:nth-of-type(2n){
      background: transparentize($primary, 0.95);

      &:hover,
      &:focus,
      &:active{
        color: $night;
        background: transparentize($day, 0.7);
      }
    }
  }
}

.table, .card{
  .dropdown{
    &-menu{
      width: auto;
    }
    &-item{
      font-size: 1rem;
      height: auto;
      line-height: 2;

      &:nth-of-type(2n){
        background: none;

        &:hover,
        &:focus,
        &:active{
          color: $night;
          background: transparentize($day, 0.7);
        }
      }
    }
  }
}