/* --------------------------
Fonts
-------------------------- */

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/Light.eot');
  src:
          url('../fonts/Light.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Light.woff') format('woff'),
          url('../fonts/Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/Regular.eot');
  src:
          url('../fonts/Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Regular.woff') format('woff'),
          url('../fonts/Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/Medium.eot');
  src:
          url('../fonts/Medium.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Medium.woff') format('woff'),
          url('../fonts/Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/Bold.eot');
  src:
          url('../fonts/Bold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Bold.woff') format('woff'),
          url('../fonts/Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/Black.eot');
  src:
          url('../fonts/Black.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Black.woff') format('woff'),
          url('../fonts/Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@import "https://fonts.googleapis.com/icon?family=Material+Icons";