/* --------------------------
Forms
-------------------------- */

.form{

  &-group{
    position: relative;
    margin-bottom: 1.25rem;

    > label{
      margin-bottom: 0.75rem;
    }

    .form-control{
      height: auto;
      padding: 27px 16px 9px;
      font-weight: 500;
      background: transparentize($day, 0.69);
      border: none;
      color: $night;
      @include border-radius(9px);
      ~ label{
        position: absolute;
        left: 15px;
        top: 18px;
        margin-bottom: 0;
        color: $twilight;
        @include transition(all 0.25s ease);
      }
      ~ .form-text{
        display: none;
      }
      &:focus,
      &.has-value{
        background-color: transparentize($primary, 0.9);
        box-shadow: none;
        ~ label{
          top: 8px;
          font-size: 0.75rem;
          color: $primary;
        }
      }
      &:focus{
        color: $twilight;
      }
      &.has-error{
       ~ label{
          color: $danger;
        }
        ~ .form-text{
          display: block;
        }
      }
    }

    &.dropdown{
      .dropdown{
        &-menu{
          margin-top: 4px;
        }
      }
    }

    &-image{
      .avatar{
        margin-right: 1.25rem;
        width: 5.75rem;
        height: 5.75rem;
      }
    }

    &-file{
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 6.25rem;
      width: 6.25rem;
      height: 6.25rem;
      @include border-radius(50%);
      border: 1px solid $border-color;

      i{
        font-size: 2rem;
        color: $day;
      }
    }

    &-text{
      margin-left: 20px;
      color: $twilight;
    }
  }
}

.input-group{
  align-items: center;
  overflow: hidden;
  @include border-radius(9px);
  &-append{
    margin-left: 0;
    padding: 18px 16px;
    background: transparentize($day, 0.69);
  }
}

.bootstrap-select{
  width: 100%;

  &:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
    width: 100%;
  }

  > .dropdown-toggle{
    padding: 18px 16px;
    line-height: 40px;
    border: none;
    background: transparentize($day, 0.69);
    color: $twilight;
    &.bs-placeholder{
      color: $twilight;
      &:hover{
        background: transparentize($day, 0.69);
        color: $twilight;
        opacity: 1;
      }
    }
    &:focus,
    &:active,
    &:not(:disabled):not(.disabled):focus,
    &:not(:disabled):not(.disabled):active{
      background-color: transparentize($primary, 0.9);
      color: $night;
      outline: 0 !important;
      opacity: 1;
    }
    .filter-option-inner-inner{
      line-height: 1.5;
    }
  }

  .dropdown{
    &-menu{
      margin-top: -52px;

      li{
        &:nth-child(2n){
          .dropdown-item{
            background: transparentize($primary, 0.95);

            &:hover,
            &:focus,
            &:active{
              color: $night;
              background: transparentize($day, 0.7);
            }
          }
        }
      }
    }

    &-item{
      background: transparent;
      color: $night;

      &:hover,
      &:focus,
      &:active{
        color: $night;
        background: transparentize($day, 0.7);
      }
    }
  }

  &.show{
    > .dropdown-toggle{
      background-color: transparentize($primary, 0.9);
    }
  }

  &.has-value{
    > .dropdown-toggle{
      background-color: transparentize($primary, 0.9);
      color: $night;
    }
    &.with-avatar{
      > .dropdown-toggle{
        padding: 10px 16px;

        .avatar{
          margin-right: 16px;
        }
      }
    }
  }
}

.custom{
  &-control{
    padding-left: 30px;
    margin-bottom: 0.5rem;

    + .custom-control{
      margin-left: 1.25rem;
    }

    &:first-child{
      margin-left: 0;
    }

    &:last-child{
      margin-bottom: 0;
    }

    &-input{
      width: 20px;
      &:focus{
        ~.custom-control-label{
          &::before{
            box-shadow: none;
          }
        }
      }
    }

    &-label{
      color: $night;
      &::before,
      &::after{
        left: -30px;
        top: 1px;
        width: 20px;
        height: 20px;
      }
      &::before{
        border: none;
        background: transparentize($day, 0.5);
      }
    }

    &-primary{
      .custom-control-input{
        &:checked{
          ~.custom-control-label{
            &::before{
              background-color: $primary;
            }
          }
        }
        &:not(:disabled):active{
          ~ .custom-control-label{
            &::before{
              background: transparentize($primary, 0.85);
              border-color: transparentize($primary, 0.85);
            }
          }
        }
      }
      &.custom-checkbox{
        .custom-control-input{
          &:indeterminate{
            ~.custom-control-label{
              &::before{
                background-color: $primary;
              }
            }
          }
        }
      }
    }

    &-secondary{
      .custom-control-input{
        &:checked{
          ~.custom-control-label{
            &::before{
              background-color: $secondary;
            }
          }
        }
        &:not(:disabled):active{
          ~ .custom-control-label{
            &::before{
              background: transparentize($secondary, 0.85);
              border-color: transparentize($secondary, 0.85);
            }
          }
        }
      }
      &.custom-checkbox{
        .custom-control-input{
          &:indeterminate{
            ~.custom-control-label{
              &::before{
                background-color: $secondary;
              }
            }
          }
        }
      }
    }

    &-success{
      .custom-control-input{
        &:checked{
          ~.custom-control-label{
            &::before{
              background-color: $success;
            }
          }
        }
        &:not(:disabled):active{
          ~ .custom-control-label{
            &::before{
              background: transparentize($success, 0.85);
              border-color: transparentize($success, 0.85);
            }
          }
        }
      }
      &.custom-checkbox{
        .custom-control-input{
          &:indeterminate{
            ~.custom-control-label{
              &::before{
                background-color: $success;
              }
            }
          }
        }
      }
    }

    &-danger{
      .custom-control-input{
        &:checked{
          ~.custom-control-label{
            &::before{
              background-color: $danger;
            }
          }
        }
        &:not(:disabled):active{
          ~ .custom-control-label{
            &::before{
              background: transparentize($danger, 0.85);
              border-color: transparentize($danger, 0.85);
            }
          }
        }
      }
      &.custom-checkbox{
        .custom-control-input{
          &:indeterminate{
            ~.custom-control-label{
              &::before{
                background-color: $danger;
              }
            }
          }
        }
      }
    }

    &-primary-gradient{
      .custom-control-input{
        &:checked{
          ~.custom-control-label{
            &::before{
              background: $primary-gradient-to-right;
            }
          }
        }
        &:not(:disabled):active{
          ~ .custom-control-label{
            &::before{
              background: transparentize($night, 0.85);
              border-color: transparentize($night, 0.85);
            }
          }
        }
      }
      &.custom-checkbox{
        .custom-control-input{
          &:indeterminate{
            ~.custom-control-label{
              &::before{
                background-color: $primary-gradient-to-left;
              }
            }
          }
        }
      }
    }

    &-secondary-gradient{
      .custom-control-input{
        &:checked{
          ~.custom-control-label{
            &::before{
              background: $secondary-gradient-to-right;
            }
          }
        }
        &:not(:disabled):active{
          ~ .custom-control-label{
            &::before{
              background: transparentize($secondary, 0.85);
              border-color: transparentize($secondary, 0.85);
            }
          }
        }
      }
      &.custom-checkbox{
        .custom-control-input{
          &:indeterminate{
            ~.custom-control-label{
              &::before{
                background-color: $secondary;
              }
            }
          }
        }
      }
    }

    &-success-gradient{
      .custom-control-input{
        &:checked{
          ~.custom-control-label{
            &::before{
              background: $success-gradient-to-right;
            }
          }
        }
        &:not(:disabled):active{
          ~ .custom-control-label{
            &::before{
              background: transparentize($success, 0.85);
              border-color: transparentize($success, 0.85);
            }
          }
        }
      }
      &.custom-checkbox{
        .custom-control-input{
          &:indeterminate{
            ~.custom-control-label{
              &::before{
                background-color: $success;
              }
            }
          }
        }
      }
    }

    &-danger-gradient{
      .custom-control-input{
        &:checked{
          ~.custom-control-label{
            &::before{
              background: $danger-gradient-to-right;
            }
          }
        }
        &:not(:disabled):active{
          ~ .custom-control-label{
            &::before{
              background: transparentize($danger, 0.85);
              border-color: transparentize($danger, 0.85);
            }
          }
        }
      }
      &.custom-checkbox{
        .custom-control-input{
          &:indeterminate{
            ~.custom-control-label{
              &::before{
                background-color: $danger;
              }
            }
          }
        }
      }
    }
  }

  &-checkbox{

    &-text{
      display: inline-block;
      width: 54px;
      height: 42px;
      padding: 0;
      margin-right: 8px;

      + .custom-checkbox-text{
        margin-left: 0;
      }

      .custom{

        &-control{

          &-input{

            &:checked{

              ~ .custom-control-label{

                &::after{
                  background-image: none;
                  color: $white;
                }
              }
            }

            ~ .custom-control-label{

              &::after{
                display: flex;
                align-items: center;
                justify-content: center;
                content: attr(data-text);
                color: $night;
              }
            }
          }

          &-label{

            &::before,
            &::after{
              left: 0;
              width: 54px;
              height: 42px;
            }
          }
        }
      }
    }
  }

  &-switch{
    padding-left: 54px;
    .custom-control-label{
      &::before,
      &::after{
        left: -54px;
      }
      &::before{
        top: 4px;
        width: 44px;
        height: 16px;
      }
      &::after{
        top: 0;
        width: 24px;
        height: 24px;
        background: $white;
        -webkit-box-shadow: 0 2px 5px transparentize($night, 0.8);
        -moz-box-shadow: 0 2px 5px transparentize($night, 0.8);
        box-shadow: 0 1px 5px transparentize($night, 0.8);
        @include border-radius(50%);
      }
    }
    .custom-control-input{
      &:checked{
        ~ .custom-control-label{
          &::before{
            background: transparentize($primary, 0.85);
          }
          &::after{
            background: $primary;
            @include translate(20px, 0);
          }
        }
      }
      &:not(:disabled):active{
        ~ .custom-control-label{
          &::before{
            background: transparentize($primary, 0.85);
            border-color: transparentize($primary, 0.85);
          }
        }
      }
    }
  }
}