/* --------------------------
Header
-------------------------- */

.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;

  .logo{
    min-width: 377px;
    padding: 15px 0 15px 24px;
    img{
      height: 60px;
    }
  }

  &-left{
    color: $white;

    .h2{
      font-weight: 500;
    }
  }

  .nav{
    position: relative;
    padding: 0 38px 0 8px;

    &-toggler{
      width: 32px;
      margin-right: 30px;
      > span{
        display: block;
        margin-bottom: 6px;
        width: 100%;
        height: 4px;
        background-color: transparentize($white, 0.2);
        @include border-radius(4px);

        &:first-child{
          width: 80%;
        }

        &:last-child{
          width: 60%;
          margin-bottom: 0;
        }
      }
    }

    &-link{
      margin: 0 10px;
      padding: 8px 0;
      font-size: 0.875rem;
      line-height: 1.4;
      text-align: center;
      color: $white;
      opacity: 0.7;

      i{
        display: block;
        padding: 0 26px;
        margin-bottom: 5px;
        font-size: 2.125rem;
      }

      &.active{
        background-color: transparentize($white, 0.9);
        opacity: 1;
        @include border-radius(5px);
        @include transition(all 0.25s ease);
      }
      &:hover{
        opacity: 1;
      }
    }

    &::before,
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -25px;
      height: 50px;
      border: 1px solid $white;
      opacity: 0.3;
      @include border-radius(2px);
    }
    &::before{
      left: 0;
    }
    &::after{
      right: 0;
    }
  }

  &-profile{
    width: 360px;
    padding: 0 20px;
    color: $white;

    .dropdown{
      &-menu{
        margin-top: 10px;
        @include border-radius(6px);
        -webkit-box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.15);
        box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.15);
      }
      &-item{
        display: flex;
        align-items: center;
        height: auto;
        padding: 16px 24px;
        line-height: 1.5;
        i{
          margin-right: 12px;
          color: $twilight;
        }
        &:nth-of-type(2n) {
          background: none;&:hover,
          &:focus,
          &:active{
            color: $night;
            background: transparentize($day, 0.7);
          }
        }
      }
      &-divider{
        margin: 0;
        border-top-color: $border-color;
      }
    }
  }

  .profile{
    position: relative;

    .avatar{
      margin: 0 20px 0 40px;
    }

    &-name{
      //font-size: 1rem;
    }

    &-job{
      font-size: 0.875rem;
      opacity: 0.7;
    }

    &:hover{
      opacity: 0.7;
    }

    &.dropdown-toggle::after{
      display: none;
    }
  }
}