/* --------------------------
List
-------------------------- */

.list-group{
  &-item{
    margin-bottom: 15px;
    @include border-radius(6px);
    border-color: $border-color;

    &:first-child,
    &:last-child{
      @include border-radius(6px);
    }

    + .list-group-item{
      border-width: 1px;
    }
  }

  &-transparent{
    .list-group-item{
      background: none;
    }
  }
}