/* --------------------------
Colors
-------------------------- */

// Common
.modal-backdrop {
  background-color: $night;

  &.show{
  }
}
.modal{
  .modal-dialog {
    width: 480px;
    top: 50%;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  &-header{
    padding: 1.875rem 1.875rem 0;
    border-bottom: 0;
  }
  &-body{
    padding: 1.125rem 1.875rem 1.875rem;
  }
  &-footer{
    padding: 0 1.875rem 1.875rem;
    border-top: 0;
  }
}

.modal.show .modal-dialog {
  opacity: 1;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}


// Custom