/* --------------------------
Sidebar
-------------------------- */

.sidebar{
  min-width: 377px;

  &-nav{
    height: 100%;
    padding: 30px 20px;
  }

  .nav{
    height: 100%;
    &-link{
      display: flex;
      padding: 16px 24px;
      color: $white;
      @include border-radius(5px);
      @include transition(all 0.25s ease);

      i{
        margin-right: 12px;
        color: transparentize($white, 0.5);

        &.chevron{
          margin-right: 0;
          @include transition(all 0.25s ease);
        }
      }

      &.active{
        background-color: transparentize($white, 0.9);
      }
      &:hover{
        background-color: transparentize($white, 0.95);
      }

      &[aria-expanded=true]{
        .chevron{
          @include rotate(180);
        }
      }
    }
  }

  .list-group{

    &-item{
      margin-bottom: 0;
      padding: 13px 60px;
      background: none;
      border: none;

      a{
        color: transparentize($white, 0.3);
      }
    }
  }
}