/* --------------------------
Table
-------------------------- */

.table{
  width: 100%;
  background: $white;
  @include border-radius(10px);
  color: $night;

  th,
  td{
    padding: 20px 30px;
    vertical-align: middle;
  }

  td{
    border-top: 1px solid $border-color;
  }

  th{
    font-weight: 700;

    i{
      margin-left: 5px;
      font-size: 1.25rem;
      color: $primary;
      opacity: 0.5;
    }

    &.clickable{
      display: flex;
      cursor: pointer;
    }
  }

  thead{
    th{
      border: none;
      vertical-align: middle;
    }
  }

  .td{
    &-avatar{
      padding: 7px 0 7px 30px;
    }
    &-actions{
      text-align: right;
      padding: 11px 30px;
    }
    &-contacts{
      padding: 8px 30px;
      span{
        display: block;
        font-size: 0.875rem;
        color: $twilight;
      }
    }
  }
}