/* --------------------------
Sidebar
-------------------------- */

.nav{
  &-tabs{
    border: none;

    .nav{
      &-item{
        margin-bottom: -2px;
      }
      &-link{
        padding: 16px 30px;
        color: $twilight;
        border: none;
        border-bottom: 4px solid transparent;
        @include border-radius(0);

        &.active{
          opacity: 1;
          background: none;
          border-color: $primary;
          color: $night;
          &:hover{
            border-color: $primary;
          }
        }

        &:hover{
          border-color: transparentize($primary, 0.5);
        }
        &:focus,
        &:active{
          border-color: $primary;
        }
      }
    }
  }
}