/* --------------------------
Timeline
-------------------------- */

.timeline{
  min-width: 380px;
  padding-left: 20px;
  height: 100%;
  background-color: $light;

  &-toggle{
    position: absolute;
    right: 15px;
    bottom: 30px;
    background-color: $white;
    @include box-shadow(0 5px 20px transparentize($night, 0.84));
    @include transition(transform 0.3s ease);
  }

  &-header{
    padding: 15px 20px 0;
    background: $primary-gradient-to-left;
    color: $white;
  }

  &-month-year,
  &-time{
    color: transparentize($white, 0.2);
  }

  &-weekday{
    font-size: 3.75rem;
  }

  &-tabs{
    margin: 0 -20px;
    background-color: transparentize($black, 0.96);
    .nav{
      &-tabs{
        border: none;
      }
      &-link{
        padding: 16px;
        opacity: 0.8;
        color: $white;
        border: none;
        border-bottom: 4px solid transparent;
        @include border-radius(0);

        i{
          display: block;
        }

        &.active{
          opacity: 1;
          background: none;
          border-color: $white;
          color: $white;
        }

        &:hover,
        &:focus{
          border-color: transparentize($white, 0.2);
        }
      }
    }
  }

  &-content{
    margin-left: -20px;
    overflow: hidden;

    .inner{
      max-height: 100%;
    }

    .tab{
      &-content{
        position: relative;
        padding-left: 20px;
        &::before{
          content: '';
          position: absolute;
          left: 20px;
          height: 100%;
          border-left: 1px solid $border-color;
        }
      }
      &-pane{
        padding: 20px;
      }
    }

    .list-group{
      color: $twilight;

      &-item {
        position: relative;
        margin-bottom: 16px;
        padding: 20px;
        border: none;
        @include border-radius(6px);
        -webkit-box-shadow: 0 5px 10px transparentize($night, 0.95);
        -moz-box-shadow: 0 5px 10px transparentize($night, 0.95);
        box-shadow: 0 5px 10px transparentize($night, 0.95);

        p{
          font-size: 0.875rem;

        }

        > p{
          margin-bottom: 14px;
          color: transparentize($twilight, 0.4);
        }

        h6{
          margin-bottom: 2px;
          font-weight: 500;
          color: $night;
        }

        .avatar{
          margin-right: 14px;
        }

        .task{
          &-name{
            margin-bottom: 5px;
            line-height: 1.5;
          }
          &-status,
          &-number{
            color: $twilight;
          }
          &-type{
            color: transparentize($twilight, 0.4);
          }
        }

        &:nth-child(2):not(.list-group-item-footer){
          &::before,
          &::after{
            content: '';
            position: absolute;
            z-index: 1;
            top: 50%;
            @include translate(0, -50%);
            @include border-radius(50%);
            background-color: $primary;
          }
          &::before{
            left: -26px;
            width: 13px;
            height: 13px;
          }
          &::after{
            left: -35px;
            width: 31px;
            height: 31px;
            opacity: 0.1;
          }
        }

        &:first-of-type{
          background-color: $twilight;
        }

        &-heading {
          margin-bottom: 10px;
          color: transparentize($twilight, 0.4);
        }

        &-footer {
          margin: 10px 0 20px;
          font-size: 0.875rem;
          text-align: center;
          color: transparentize($twilight, 0.3);
        }
      }
    }
  }
}