/* --------------------------
Typography
-------------------------- */

// Base

$base-font-family: 'Museo Sans Cyrl', Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 500;
$base-line-height: 1.5;

// Text

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6{
  font-weight: bold;
  margin-bottom: 1rem;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4{
  line-height: 1.3;
}
h1,
.h1{
  font-size: 2.5rem;
}
h2,
.h2{
  font-size: 2rem;
}
h3,
.h3{
  font-size: 1.75rem;
}
h4,
.h4{
  font-size: 1.5rem;
}
h5,
.h5{
  font-size: 1.25rem;
  line-height: 1.4;
}
h6,
.h6{
  font-size: 1rem;
}
.lead{
  font-size: 1.25rem;
  font-weight: 500;
}
.paragraph{
  margin-bottom: 0.25rem;
  font-size: 1.125rem;
  font-weight: 500;
}
small,
.small{
  font-size: 0.875rem;
  font-weight: 500;
}
.tiny{
  font-size: 0.75rem;
  font-weight: 500;
}

//Colors
.text-primary{
  color: $primary !important;
}
.text-secondary{
  color: $secondary !important;
}
.text-success{
  color: $success !important;
}
.text-danger{
  color: $danger !important;
}
.text-night{
  color: $night !important;
}
.text-twilight{
  color: $twilight !important;
}
.text-day{
  color: $day !important;
}


@media screen and ('min-width: 1440px'){
  $base-font-size: 16px;
}